html {
  background-color: #2a2f38;
  font-family: 'Anonymous Pro', 'Consolas', 'Lucidia Console', monospace;
  color: #cecece;
  line-height: 200%;
  padding: 0px 0px 40px 0px;
}

i {
  color: #f7da74;
}

h1 {
  font-size: 40px;
}

a {
  color: #74f7dd;
  font-style: italic;
  text-decoration: none;
}

.info {
  padding-left: 40px;
}

.past-block {
  padding-left: 80px;
}
